<form [formGroup]="formgroup">
    <div class="esign-page esign-application">
        <esign-input-field [formgroup]="formgroup" required="true" [options]="applicationOptions" name="id"
            label="Application" fieldType="combobox" [onchange]="onApplicationChange"></esign-input-field>
        <esign-input-field [formgroup]="formgroup" required="true" name="serviceAccount"
            label="Service Account"></esign-input-field>
        <esign-input-field [formgroup]="formgroup" required="true" name="refreshToken"
            label="Refresh Token"></esign-input-field>
        <div class="esign-toolbar">
            <p-button label="Next" type="button" (click)="onNext()" [disabled]="!formgroup.valid"></p-button>
        </div>
    </div>
</form>