<form [formGroup]="formgroup">
    <div class="esign-page esign-template">
        <div class="esign-page-body">
            <esign-input-field [formgroup]="formgroup" name="applicationId" fieldType="hiddenfield"></esign-input-field>
            <esign-input-field [formgroup]="formgroup" name="templateName" fieldType="hiddenfield"></esign-input-field>
            <esign-input-field [formgroup]="formgroup" required="true" name="id" label="Template" fieldType="combobox"
                [options]="templateOptions" [onchange]="onTemplateChange"></esign-input-field>
        </div>
        <div class="esign-toolbar">
            <p-button label="Previous" type="button" (click)="onPrevious()"></p-button>
            <p-button label="Next" type="button" (click)="onNext()" [disabled]="!formgroup.valid"></p-button>
        </div>
    </div>
</form>