<form [formGroup]="formgroup">
    <div class="esign-page esign-template">
        <esign-input-field [formgroup]="formgroup" required="true" name="id" label="Template" fieldType="combobox"
            [options]="templateOptions" [onchange]="onTemplateChange"></esign-input-field>
        <div class="esign-toolbar">
            <p-button label="Previous" type="button" (click)="onPrevious()"></p-button>
            <p-button label="Next" type="button" (click)="onNext()"></p-button>
        </div>
    </div>
</form>