<div class="{{getWrapperClassName()}}">
    <div class="{{getLabelClassName()}}" >
        <span>
            {{label}}
            <span class="esign-label-required" *ngIf="isRequired()">*</span>
        </span>
    </div>
    <ng-container [ngSwitch]="fieldType">
        <ng-container *ngSwitchCase="WSUBTYPES.CHECKBOX">
            <p-checkbox class="{{getClassName()}}" [readonly]="isReadOnly()" [pTooltip]="tooltip"
                [formControlName]="name"></p-checkbox>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.HIDDEN">
            <input type="hidden" [formControlName]="name"
                [value]="initValue">
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.DISPLAY">
            <div [innerHtml]="initValue"></div>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.DATE">
            <p-calendar class="{{getClassName()}}" [showIcon]="true" [name]="name"
                [pTooltip]="tooltip" [formControlName]="name"
                [placeholder]="placeHolder"></p-calendar>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.MASK">
            <p-inputMask [mask]="mask" [placeholder]="placeHolder"
                [readonly]="isReadOnly()" [pTooltip]="tooltip" class="{{getClassName()}}"
                [formControlName]="name"></p-inputMask>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.NUMERIC">
            <p-inputNumber class="{{getClassName()}}" [showButtons]="true" [pTooltip]="tooltip"
                [formControlName]="name" [placeholder]="placeHolder"
                [readonly]="isReadOnly()"></p-inputNumber>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.PASSWORD">
            <p-password class="{{getClassName()}}" [placeholder]="placeHolder" class="{{getClassName()}}"
                [pTooltip]="tooltip" [toggleMask]="true"
                [formControlName]="name"></p-password>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.TEXTAREA">
            <textarea class="{{getClassName()}}" [rows]="rows"
                [readonly]="isReadOnly()" [pTooltip]="tooltip" pInputTextarea
                [placeholder]="placeHolder" [formControlName]="name"></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="WSUBTYPES.COMBOBOX">
            <p-dropdown [options]="options" [optionLabel]="optionLabel"
                [readonly]="isReadOnly()" [pTooltip]="tooltip"
                [optionValue]="optionValue" [placeholder]="placeHolder"
                [formControlName]="name" (onChange)="onchange($event)"></p-dropdown>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <input class="{{getClassName()}}" pInputText type="text" 
                [attr.readonly]="isReadOnly()" [pTooltip]="tooltip" [placeholder]="placeHolder"
                [formControlName]="name" [pattern]="pattern">
        </ng-container>
    </ng-container>
</div>
