<p-blockUI [blocked]="blockedDocument"><i class="pi pi-lock" style="font-size: 3rem"></i></p-blockUI>
<message-area />
<nav>
  <div class="flex flex-row">
    <a class="button" routerLink="/esign-application" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      Application
    </a><span class="p-1">|</span>
    <a class="button" routerLink="/esign-template" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      Template
    </a>
    <div *ngIf="templateSelected">
      <span class="p-1">|</span>
      <a class="button" routerLink="/esign-template-p8" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        P8 Archival
      </a>
      <span class="p-1">|</span>
      <a class="button" routerLink="/esign-template-notification" routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Notification
      </a>
      <span class="p-1">|</span>
      <a class="button" routerLink="/esign-template-fieldmap" routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Field Map
      </a>
      <span class="p-1">|</span>
      <a class="button" routerLink="/esign-template-participantmap" routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Participants
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>