@import "primeng/resources/themes/nova/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
}

.esign-inputfield-wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
    vertical-align: middle;
    padding-top: 8px;
}

.esign-inputfield-label{
    min-width: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.esign-page{
    padding:10px;
    width:1000px;
}

.esign-inputfield-wrapper .p-inputwrapper,.p-component{
    width: 100%;
}

.esign-label-required {
    color: red;
}

.esign-application .esign-inputfield-label{
    min-width: 200px;
}

.esign-toolbar{
    margin-top: 10px;;
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.esign-toolbar p-button{
    width:90px;
    margin-left: 10px;
}

.esign-template-p8 p-tree{
    max-height: 500px;
    display: block;
    overflow: auto;
}

.esign-page p-tree{
    padding-top:8px;
}

.esign-template-p8 .esign-inputfield-label{
    min-width: 160px;
}

.esign-template-notification .esign-inputfield-label{
    min-width: 170px;
}
.esign-inline-button{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    padding-top: 8px;
    padding-left: 8px;
}

.message-container {
    width: 100%;
    padding: 0px 5px 0px 5px;
}
.message-area {
    width: 100%;
    margin: 3px 0px 3px 0px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    display: flex;
    flex-direction: row;
}

.info-message {
    color: green;
    overflow: auto;
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.error-message {
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    overflow: auto;
    color: red;
}
