@import "primeng/resources/themes/nova/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
}


.esign-inputfield-wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
    vertical-align: middle;
    padding-bottom: 8px;
}

.esign-inputfield-label{
    min-width: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.esign-page{
    padding:10px;
    width:1000px;
}

.esign-inputfield-wrapper .p-inputwrapper,.p-component{
    width: 100%;
}

.esign-label-required {
    color: red;
}

.esign-application .esign-inputfield-label{
    min-width: 200px;
}

.esign-toolbar{
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.esign-toolbar p-button{
    width:90px;
    margin-left: 10px;
}